.menuContainer .menu:hover {color: #ec7210}
.menuContainer .submenu:hover {color: #ec7210}
a.active {color: #ec7210; font-weight: 700;}
div.scrollContainer div {white-space: nowrap; user-select: none}

/* custom scrollbar */
div.scrollContainer::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
div.scrollContainer::-webkit-scrollbar {
    width: 20px;
}

div.scrollContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

div.scrollContainer:hover::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

div.scrollContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

div.scrollContainer::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}